html {
  height: 100%;
  margin: 0;
  padding: 0;
}

#__next {
  height: 100%;
}

.mainContent {
  flex: 1; /* Позволяет содержимому занимать доступное пространство */
}

body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 20px auto;
  min-height: 100vh;
  max-width: 1200px;
}

.text-center {
  text-align: center;
}
